/* Basic CSS Boilerplate */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: black;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
.card{
  background-color: #222;
  border-radius: 8px;
  width: 300px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.btn{
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px auto;
  
}
.btn:hover{
  background-color: #555;
}
.card p{
  margin: 5px 0;
}
.card img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.card-container {
  display: flex;
  gap: 5px;
  padding: 20px;
  flex-wrap: wrap;        /* allows next row */
}

