/* Basic CSS Boilerplate */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.parent{
  height: 100vh;
  width: 100%;
  background-color: #111;
  padding : 40px 30px;
  display: flex;
  gap: 25px;
  
}
.card{
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}
.top button{
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border: 1px solid #b1b1b1;
  font-size: 10px;
  border-radius: 4px;
  gap: 3px;
  cursor: pointer;
  background-color: transparent;
  color: #b1b1b1;
}


.center h3{
  font-size: 17px;
  font-weight: 500;
}
.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}
.center h2{
  font-size: 20px;
  font-weight: 600;
}
.center .tag{
  display: flex;
  gap: 5px;
  margin-top:10px;
}
.center .tag h4{
  font-size: 10px;
  background-color: #dadada;
  padding: 4px 8px;
  border-radius: 4px;
  color: #111;
  font-weight: 500;
  border-radius: 5px;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e3e0e0;
  padding-top: 15px;
}
.bottom h3{
  font-size: 14px;
}
.bottom p{
  font-size: 10px;
  color: #b1b1b1;

}
.bottom button{
  padding: 7px 15px;
  border-radius: 5px;
  background-color: #111;
  color: #b1b1b1;
  border: none;
  column-width: 600;
}