*{
  margin: 20px;
  padding: 0px;
}
html,body{
   background-color: #222;
  height: 100%;
  width: 100%;
 }
 button{
  color: #fff;
  padding: 22px 44px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #333;
  border: none;
 }
 button:hover{
  background-color: #444;
 }

h3{
   color: white;
}
