*{
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: #222;
}

button{
  cursor: pointer;
  padding : 10px 16px;
  border-radius: 5px; 
  margin: 5px;
  background-color: #333;
  border: none;
}
button:hover{
  background-color: #555;
}
h1{
  padding: 10px;
  background-color: #777;
  width: fit-content;
  border-radius: 5px;
  padding : 10px 80px;
}