*{
  margin: 20;
  padding: 0;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: #222;
}
input,button{
  padding: 10px 5px;
  margin: 10px;
  border-radius: 5px;
  border: none;
}

button{
  background-color: #444;
  color: white;
}
button:hover{
  background-color: #555;
}